 <div id="lnb">
        <div class="lnb-new-schedule">
            <button id="btn-new-schedule" type="button" class="btn btn-default btn-block lnb-new-schedule-btn" data-toggle="modal">
                New schedule</button>
        </div>
        <div id="lnb-calendars" class="lnb-calendars">
            <button type="button" id="calendarpop" class="mt-3 btn lnb-new-schedule-btn btn-block" data-toggle="popover">Add calendar</button>
            <div class="lnb-calendars-item">
                <label>
                    <input class="tui-full-calendar-checkbox-square" type="checkbox" value="all" checked="">
                    <span></span>
                    <strong>View all</strong>
                </label>
            </div>
            <div id="calendarList" class="lnb-calendars-d1"></div>
        </div>
    
        <div id="popForm" class="d-none">
        <a href="#" class="close" data-dismiss="alert">&times;</a><br>
        <form name="colorForm"  id="colorForm" method="POST">
        <div class="form-group"> 
            <label for="colorpicker" class="text-info">Calendar Color:</label><br>
            <input type="color" name="colorpicker" class="form-control" value="">
        </div>
         <div class="form-group"> 
            <label for="textcolorpicker" class="text-info">Text Color:</label><br>
            <input type="color" name="textcolorpicker" class="form-control" value="">
        </div>
        <div class="form-group">
            <br><label for="tag" class="text-info">Tag:</label><br>
            <input type="text" id="tag" name="tag" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-info btn-sm" value="submit">
        </div>
        </form>
        </div>
            
 </div>


    <div id="right">
        <div id="menu">
            <span class="dropdown">
                <button id="dropdownMenu-calendarType" class="btn btn-default btn-light btn-sm" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    <i id="calendarTypeIcon" class="calendar-icon ic_view_month" style="margin-right: 4px;"></i>
                    <span id="calendarTypeName">Dropdown</span>&nbsp;
                    <i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily">
                            Daily
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly">
                            Monthly
                        </a>
                    </li>

                </ul>
            </span>

            <span id="menu-navi">
                <button type="button" class="btn btn-default btn-sm move-day btn-light" data-action="move-prev">
                    <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm move-day btn-light" data-action="move-next">
                    <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                </button>
            </span>

            <span id="logout-button">  <a href="/user/logout" class="float-right mr-2 btn btn-info btn-light btn-sm" role="button">Log out</a> </span>
            
            <span id="renderRange" class="render-range"></span>
        </div>
        <div id="calendar"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.min.js"></script>
    <script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
    <script src="/dist/tui-calendar.js"></script>
    <script src="/js/app.js"></script>

  