<head>
    <title>
        .doetal
    </title>
</head>
<div id="login">
        <div class="container  login-align">
           <div id="login-row" class="row justify-content-center">
               <div class="col-sm text-light text-right custom-margin-login" id="shadow">
                   <h1>Taking plans high above</h1>
                   <h3>With .doetal, you're able to make sure that your plans are set in stone.</h3>
                   <h6>Up to 15 different Calendars!</h6>
               </div>
                    <div id="col-sm" class="col-md-6 bg-light custom-background">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="/user/calendar" method="post">
                                <h3 class="text-info text-dark">Login</h3>
                                    {{> messages}}
                                <div class="form-group">
                                    <label for="username" class="text-info text-dark">Email:</label><br>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info text-dark">Password:</label><br>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                <div id="register-link" class="form-group">
                                    <a href="/register">Register here</a> 
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn lnb-new-schedule-btn fullwidth" value="Log In">
                                </div>
                                
                            </form>
                        </div>
                    </div>
           </div>
       </div>
</div>
